* {
	margin: 0;
	padding: 0;
}

body {
	border:solid 3px darkslategray;
}

#handle {
	background-color:rgba(100, 100, 100, 0.75);
	font-size:150%;
	color:#FFF;
	font-weight: bold;
	text-align: center;
}

#close {
	font-size:200%;
	position:absolute;
	right:10px;
	top:-14px;
	cursor: pointer;
}

.active {
	background-color:rgba(20, 20, 100, 0.25);
}

.right {
	text-align:right;
}

.hidden {
	display:none;
}

.scroll {
	overflow:hidden;
	overflow-y:scroll;
}




.spinner {
  width: 50px;
  height: 27px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}